body {
    text-align: center;
}

/* Instruction Page */
h1, h2 {
	text-align: left;
}
ol li {
	text-align: left;
}

/* Buttons */
.difficultyButton {
	margin:10px;
	text-align: center;
	width: 100px;
	height: 50px;
}

.startButton {
	margin: 10px;
	text-align: center;
}

#startGame {
	width: 200px;
	height: 100px;
}

.readyStart {
	width: 200px;
	height: 100px;
}

/* Hide all the information other than the instructions */
.avatarSelection {
	display: none;
}

.difficultySelection {
	display: none;
}

.gameOver {
	display: none;
}

.startButton {
	display: none;
}

.gameBoard {
	display: none;
}
